body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #fff;

}

header {
    /* background: #333;
    color: #fff; */
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}

header nav {
    flex: 2;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('https://static.vecteezy.com/system/resources/previews/037/170/421/non_2x/ai-generated-a-gym-with-dark-exercise-equipment-free-photo.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#hero .cta {
    background: #ff6200;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#services .service,
#membership .plan {
    background-color: rgb(5, 105, 148);
    color: #dcdcdc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form input,
#contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    color: #333;
}

#contact form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
